h1 {
	text-align: center;
	/*color: white;*/
	font-family: sans-serif;
}

h3{
	text-align: center;
	/*color: white;*/
	font-family: sans-serif;
}

p{
	text-align: center;
}

/* div {
	background-color: blue;
	background-size: 500px auto;
}