html, body {
	margin: 0;
	padding: 0;
}

 #title {
	background-color: #ADFFAD;
	height: 500px;
}

h1 {
	text-align: center;
	vertical-align: center;
	color: white;
	font-family: sans-serif;
	font-size: 72px;
	margin: 0px;
}

#first {
	background-color: #76CCAF;
	height: 500px;
	color: white;
	font-family: sans-serif;
}

h3{
	text-align: center;
}



